{% extends 'navbar.html' %}
{% load static %}

{% block hello %}
<link rel="stylesheet" href="{% static 'create-project.css' %}">
<body>
<main class="project">
    <section class="project">
        <h2>Create Project</h2>
        <form method="post" enctype="">
            {% csrf_token %}
            <label for="title">Title:</label>
            {{form.title}}
            <label for="description">Description:</label>
            {{form.detail}}
            <div class="container justify-content-center">
            <input type="submit" value="Submit">
            </div>
        </form>
    </section>
</main>
</body>
{% endblock hello %}

