{% extends 'navbar.html' %}
{% load mathfilters %}
{% load static %}

{% block hello %}
<div class="container-fluid-home">
    <div class="row">
        {% if request.user.is_admin == False%}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    ToDo| {{request.user.name}} 
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <div class="dropdown show justify-content-end">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Priority|{{priority_status}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'priority' 'High' %}">High</a>
                                <a class="dropdown-item" href="{% url 'priority' 'Medium' %}">Medium</a>
                                <a class="dropdown-item" href="{% url 'priority' 'Low' %}">Low</a>
                                <a class="dropdown-item" href="{% url 'home' %}">Default</a>
                            </div>
                        </div>
                    </div>
                    {% for i in my_task %}
                    {% if i.status == 'ToDo' %}
                    <div class="sub-card">
                            <div class="card-body">
                            <h5 class="card-title">Task|{{i.task}}</h5>
                            <h4 class="sub-title">Days|{{i.days}}</h4>
                            <p class="card-text">Project:{{i.Project.title}}</p>
                            <p class="card-text">Task description:{{i.task.task_description}}</p>
                            <p class="card-text">Task Priority:{{i.Priority}}</p>
                            <p class="card-text">Task Assign_at:{{i.created_at}}</p>
                            <a href="{% url 'progress' i.id %}" class="btn">Progress</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    in Progress | {{request.user.name}}
                </div>
                <div class="card-body">
                    {% for i in my_task %}
                    {% if i.status == 'In Progress' %}
                    <div class="sub-card">
                        <div class="card-body">
                            <h4 class="sub-title">Due date:{{i.expected_at}}</h4>
                            <p class="card-text">Task Assign_at:{{i.created_at}}</p>
                            <h5 class="card-title">Task|{{i.task}}</h5>
                            <p class="card-text">Project:{{i.Project.title}}</p>
                            <p class="card-text">Task description:{{i.task.task_description}}</p>
                            <h4 class="sub-title">Days|{{i.days}}</h4>
                            <h4 class="sub-title">Today:{% now "DATETIME_FORMAT" %}</h4>
                            <a href="{% url 'done' i.id %}" class="btn">Submit</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Done | {{request.user.name}}
                </div>
                <div class="card-body">
                    {% for i in my_task %}
                    {% if i.status == 'Done' %}
                    <div class="sub-card">
                        <div class="card-body">
                            <h5 class="card-title">Task|{{i.task}}</h5>
                            <p class="card-text">Project:{{i.Project.title}}</p>
                            <p class="card-text">Task description:{{i.task.task_description}}</p>
                            <a href="#" class="btn">Take-Action</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if request.user.is_admin == True%}
        {% for i in project %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Project | {{i.project.title}} 
                </div>
                <div class="card-body">
                    {% for j in i.task.all %}
                    <div class="sub-card">
                        <div class="card-body">
                            <h5 class="card-title">Task|{{j.task}}</h5>
                            <p class="card-text">{{j.task_description}}</p>
                            <a href="{% url 'assigntask' i.id j.id%}" class="btn">Assign-Task</a>
                        </div>
                    </div>
                    {% endfor %}
                    <a href="{% url 'createtask' i.id %}" class="btn">Create-Task</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

  